/* HOME SECTION */
#home.content.active {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 2rem;
    flex-wrap: wrap; 
    color: #fefefe;;         /* VERY IMPORTANT */
}


.brand-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* LOGO IMAGE */
.brand-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #06020b;
  box-shadow: 0 0 10px rgba(48, 228, 60, 0.693);
}

/* PORTFOLIO TEXT */
.brand-info h2 {
  font-size: 22px;
  color: hwb(0 100% 0% / 0.938);
  font-weight: 600;
  letter-spacing: 1px;
}

/* DETAILS LEFT */
.details {
    flex: 1;
    min-width: 300px;         /* overlap roke */
}




.details h2{
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
.details h2 span{
   
    padding-bottom: 2px;
    border-bottom: 5px solid var
    (--green);
    color:#79de4a;
background: linear-gradient(90deg, #75f0a27b, #06b6d4);
 -webkit-background-clip: text;
}
.details h3{
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;
    overflow: hidden;
}
.details h3 span{
    color: var(--green);
    display:inline-block;
    min-width: 130px;
    overflow: hidden;
    white-space: nowrap;
}

.details h3 span::after{
    content : "|";
    margin-left: 5px;
    animation: blink 0.5s steps(1)
    infinite;
}

@keyframes blink{
    0%,
    100% {
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

.details p{
    font-size: 1.3rem;
    text-align: justify;
}
.bottom{
    display:flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap:wrap;
}
.btn {
    width: 12rem;
    padding: 0.8rem 0;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 5px;
    background: var(--green);
    cursor: pointer;
    border: none;
    transition: all ease 0.3s;
    font-weight:bold;
    color:black;
}
.btn:hover{
    box-shadow: 3px 3px 3px var(--green),
    -3px 3px 3px var(--green),
    3px -3px 3px var(--green),
    -3px -3px 3px var(--green);
    background:transparent;
    border: 2px solid var(--green);
    color: var(--white);
}

.social-icons{
    display: flex;
    align-items: center;
    gap: 20px;
    color: #6bf146da;       /* default color */
    margin-right: 1rem;
    transition: 0.3s;
}
.social-icons a{
   text-decoration: none;
   color: var(--green);
   border:2px solid var(--green);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow:hidden;
    width: 45px;
    height:45px;
    transition: all ease 0.3s;
}

.social-icons a i{
    font-size: 1.5rem;
}

.social-icons a:hover{
    background: var(--green);
    color: var(--primary);
    box-shadow: 2px 2px 2px var(--green),
    -2px 2px 2px var(--green),
    2px -2px 2px var(--green),
    -2px -2px 2px var(--green);
}
@media screen and (width >= 768px){
    #home.content.active{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        gap:3.5rem;
        width: 100%;
        max-width: 100%;
    }
    .details h2{
        font-size: 3rem;
    }
    .details h3{
        font-size:2.5rem;
    }

    .social-icons{
        font-size: 3rem;
    }
    .bottom{
        flex-direction: row;
        align-items:center;
        gap: 20px;
    }

    .btn{
         border-radius:50px;
    }
}
@media screen and (width >= 1024px){
    #home.content.active{
        margin: 3rem auto;
    }
   .img-container{
    width: 400px;
    height: 400px;
   } 
   .details{
    gap: 30px;
   }
   .details h2{
    font-size:5rem;
   }

    .details h3{
        font-size:2.8rem;
    }
   .details p{
    font-size: 1.6rem;
   }
}

section {
  min-height: 100vh;
}
.social-icons a svg {
    
    transition: 0.3s;
}

.social-icons a svg:hover {
    filter: drop-shadow(0 0 6px var(--accent));
}


